.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Exclude all node_modules except monaco-editor

node_modules/**
!node_modules/monaco-editor/min/vs/**
!node_modules/monaco-editor/package.json
